body {
  height: 100vh;
  margin: 0;
  font-family: 'Calibri', Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background: #843989;
}

.nav-container a {
  color: #DAFF7D;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
}

header .logo {
  color: #E5F5F8;
  font-weight: bold;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul a {
  display: block;
  padding: 0 1em;
}

.social-header, .hero-design {
  display: none;
}

.hero {
  background: #9B519F;
  color: #E5F5F8;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 4em;
}

.meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 200px;
  font-weight: bold;
  color: #DAFF7D;
}

.meet span {
  margin-top: 1em;
  margin-right: .3em;
  width: 15px;
}

.scroll {
  width: 30px;
  margin-top: 2em;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.featured {
  position: relative;
}

.featured img {
  border-radius: .5em;
}

.featured::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  opacity: 0.39;
  background: #B1ED9A;
  border-radius: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  left: 0;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #9B519F;
  letter-spacing: .2em;
  font-size: .85em;
}

.featured-title {
  color: #414052;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: -.4em;
  display: block;
}

.featured-desc {
  color: #66627E;
  margin-bottom: 3em;
  font-size: .9em;
  line-height: 1.8em;
  font-weight: 500;
}

.skills {
  background: #DAFF7D;
}

.skills-container ul li {
  background: white;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.skills-container ul li .icon-container {
  height: 100px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 0 auto;
}

.skills-container ul li .icon-container.one {
  width: 50px;
}

.skills-container ul li .icon-container.two {
  width: 60px;
}

.skills-container ul li .icon-container.three {
  width: 40px;
}

.skills-container ul li .skill-title {
  font-weight: bold;
  text-transform: uppercase;
}

.skills-container ul li .featured-desc {
  margin-bottom: 2em;
}

.portfolio img {
  border-radius: .5em;
}

.portfolio-container a img {
  margin-bottom: 2em;
}

@media only screen and (min-width: 800px) {
  .featured, .portfolio {
    text-align: left;
  }
  .featured, .portfolio-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 45% auto;
        grid-template-columns: 45% auto;
  }
  .left, .portfolio-left {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .right {
    margin-left: 2em;
    margin-top: 1em;
  }
  .skills {
    margin-top: -5em;
    margin-bottom: -4em;
    padding-top: 5em;
  }
  .skills-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
    margin-bottom: -6em;
  }
  .portfolio {
    padding-top: 9em;
  }
  .portfolio-container img {
    margin-left: 2em;
  }
}

@media only screen and (min-width: 1050px) {
  .hero {
    height: 90vh;
  }
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
  }
  .nav-container header {
    background: #843989;
  }
  header {
    padding: 2em 2em 2em 4em;
  }
  .social-header {
    padding: 2em 4em 2em 0;
    display: block;
  }
  .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 7em;
    float: right;
  }
  .social-header ul img {
    width: 20px;
  }
  section {
    padding: 4em;
  }
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
    margin-bottom: 7em;
  }
  .hero .content {
    background: #9B519F;
    padding: 6em 8em 6em 4em;
    text-align: left;
    margin-bottom: 4em;
  }
  .hero h1 {
    font-size: 3em;
    line-height: 1.2em;
    width: 250px;
  }
  .meet {
    margin: unset;
  }
  .hero-design {
    display: unset;
    margin-left: -27%;
    margin-top: -13%;
    width: 100%;
  }
  .portfolio img {
    float: right;
    max-width: 500px;
  }
}

@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 2em 2em 10em;
  }
  .social-header {
    padding: 2em 10em 2em 0;
  }
  section {
    padding: 10em 10em 4em 10em;
  }
  .hero .content {
    padding: 6em 8em 6em 10em;
  }
}

@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 20em;
  }
  .social-header {
    padding: 2em 20em 2em 0;
  }
  section {
    padding: 10em 20em 4em 20em;
  }
  .hero .content {
    padding: 6em 8em 6em 20em;
  }
}
/*# sourceMappingURL=main.css.map */